services:
  bot:
    build:
      context: ..
      dockerfile: Dockerfile
    container_name: mortysdbot
    environment:
      DOTNET_ENVIRONMENT: Production

      # Discord Token als ENV (Secret)
      Discord__Token: ${DISCORD_TOKEN}

      # optional: schnellere Command-Registrierung
      Discord__GuildId: ${DISCORD_GUILD_ID:-0}

    volumes:
      - bot_logs:/app/logs
    restart: unless-stopped

volumes:
  bot_logs:
